.dropdown {
    position: relative;
    font-family: Arial, sans-serif;
    max-width: 300px;
    width: 100%;
    display: flex;
    border: 1.5px solid var(--secondary-color);
    padding: 8px;
    width: 100%;
    box-sizing: border-box;

    &.open,
    &:focus-visible,
    &:focus {
        border-color: var(--primary-color);
        outline: none;
        box-shadow: 0 1px 2px var(--primary-color);
    }

    &__input {
        border: 0;
        padding: 0;
        width: auto;
        box-sizing: border-box;
        outline: none;
        overflow: hidden;

        border-radius: var(--default-radius);
        -webkit-border-radius: var(--default-radius);
        -moz-border-radius: var(--default-radius);
        -ms-border-radius: var(--default-radius);
        -o-border-radius: var(--default-radius);
        &::placeholder {
            font-size: 14px;
        }
    }
    &__arrow {
        position: absolute;
        top: 15px;

        width: 24px;
        background-color: white;
        svg {
            fill: gray;
            width: 10px;
        }

        &.open {
            right: 0;
        }
        &:not(.open) {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transition: all;
            -webkit-transition: all;
            -moz-transition: all;
            -ms-transition: all;
            -o-transition: all;
            right: 15px;
        }
    }
    &__selected_list {
        display: flex;
        align-items: center;
        padding: 0 2px;
        margin: 0;
        &__item {
            font-size: 12px;
            list-style: none;
            padding: 2px 5px;
            max-width: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            background-color: #e9f2fe;
            color: var(--primary-color);
            border-radius: var(--default-radius);
            -webkit-border-radius: var(--default-radius);
            -moz-border-radius: var(--default-radius);
            -ms-border-radius: var(--default-radius);
            -o-border-radius: var(--default-radius);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border: 1px solid var(--secondary-color);

        padding: 10px 10px;
        margin: 10px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background: white;
        z-index: 10;
        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            list-style: none;
            padding: 7px 20px;
            margin: 0;
            cursor: pointer;
            span {
                display: flex;
                align-items: center;
            }

            &:hover,
            &.selected {
                background-color: #e9f2fe;
                color: var(--primary-color);
                border-radius: var(--default-radius);
                -webkit-border-radius: var(--default-radius);
                -moz-border-radius: var(--default-radius);
                -ms-border-radius: var(--default-radius);
                -o-border-radius: var(--default-radius);
            }

            &.selected {
                &::after {
                    display: block;
                }
            }
            &::after {
                content: '✔';
                display: none;
            }
            img {
                width: 20px;
                height: 20px;
                margin: 0 3px;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;
            }
        }
        border-radius: var(--default-radius);
        -webkit-border-radius: var(--default-radius);
        -moz-border-radius: var(--default-radius);
        -ms-border-radius: var(--default-radius);
        -o-border-radius: var(--default-radius);
    }
    border-radius: var(--default-radius);
    -webkit-border-radius: var(--default-radius);
    -moz-border-radius: var(--default-radius);
    -ms-border-radius: var(--default-radius);
    -o-border-radius: var(--default-radius);
}
